.game-wrapper {
  display: flex;
  flex-wrap: wrap;
}


.detail-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  background: rgb(40, 40, 40);
}

.stats-wrapper {
  font-size: 1.2rem;
  width: 10rem;
  background: rgb(80, 80, 80);
  padding: 1rem;
  color: rgb(230, 230, 230);
}

.stats-wrapper p {
  margin-bottom: .5rem;
}

.sector-label {
  padding-top: 1rem;
  width: 100%;
  padding-left: 3rem;
  font-size: 1.2rem;
  background: rgb(80, 80, 80);
  color: rgb(230, 230, 230);
}

.inventory, .combat-log {
  list-style-type: none;
  overflow-y: scroll;
  scrollbar-color: dark;
  height: 20rem;
  width: 100%;
  padding-left: 1rem;
  background: rgb(80, 80, 80);
  color: rgb(230, 230, 230);
}

/* .inventory li:nth-child(2n+2) {
  background: rgb(70,70, 70);
} */

.active {
  background: rgb(20, 20, 20);
}

.inventory {
  height: 14rem;
}

.combat-log {
  height: 20rem;
}
